@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cool Constructor Injection !</h1>
    <p class="lead">MVC5 Application showcasing StructureMap.MVC5 in use having default conventions. Below a message is provided from the MessageFactory which simply returns the current instance of System.Type. Feel free to overview the HomeController, MessageFactory, IoC, and DefaultRegistry classes within the solution. </p>
    <p><a href="" class="btn btn-primary btn-lg">@ViewBag.Message &raquo;</a></p>
</div>

